*{
	box-sizing: border-box;
}

body{
	background-color: white;
	margin:0;
	padding:0;
	height:110%;
}

#container{
	min-height:100%;
	position:relative;
	
}

#logo{
	position:fixed;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align:center;
	border: 0;
}


#welcome{
padding-top:5px;
font-family: Verdana;
font-size: 50px;
text-align: center;
background-color: Lavender;
font-weight:bold;

}

#quote{
font-family: Verdana;
font-size: 20px;
text-align: center;
background-color: Lavender;
padding-bottom: 5px;
}




#info{
font-family: Verdana;
font-size: 15px;
margin-right:5%;
margin-left:5%;
text-align: justify;
color: black;
padding-left:10px;
padding-right:5px;
padding-bottom:5px;
padding-top:5px;

}

#infoTitle{
font-family: Verdana;
font-size: 40px;
font-weight:bold;
margin-right:5%;
margin-left:5%;
text-align: center;
color: black;
padding-left:10px;
padding-right:5px;
padding-top:20px;
padding-bottom:10px;
}

#login{
font-family: Verdana;
font-weight:bold;
font-size:11px;
font-weight:bold;
padding: 10px 24px;
background-color: Lavender;
border: none;
color: black;
}

#sign-up{
font-family: Verdana;
font-size:11px;
font-weight:bold;
padding: 10px 24px;
background-color: Lavender;
border: none;
color: black;
}

#roster {

  max-width: 100%;
	height: auto; 

}

#roster img {
position:absolute;
width:50%;
height:auto;
border-radius: 25px; 
left: 6%;
padding-top: 1%;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

@keyframes rosterFadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#roster img.top {
animation-name: rosterFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}

#join{

	margin-top: 1%;
	font-family: Verdana;
	font-size:3vw;
	font-weight:bold;
	background-color: Lavender;
	border: none;
	color: black;
	width: 30%;
	text-align: center;
	margin-left: 65%;




}


#button1{
margin-top: 1%;


}

#loginForm{
	background-color: Lavender; /* Green background */
  border: 1px solid Lavender; /* Green border */
	font-family: Verdana;
	font-size:2vw;
  color: Black; /* White text */
  padding: 5%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 30%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
	position: relative;
	left:65%;
	
}

.btn-group button {
  background-color: Lavender; 
  border: 1px solid Lavender; 
	font-family: Verdana;
	font-size:2vw;
  color: Black; 
  padding: 5%;
border-radius: 25px;  
  cursor: pointer; 
  width: 30%; 
  display: block; 
	position: relative;
	left:65%;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: dodgerblue;
  color:white;
}

#partners{
	position: relative;
padding-top:5%;
font-family: Verdana;
text-align: center;
font-weight:bold;
margin-bottom: 0%
}

#partner1{
padding-right:5%;
 
}

#partner2{
padding-right:5%;
}
#partner3{
padding-right:5%;
}
#partner4{
padding-right:5%;
}




#partext{

padding-bottom:10px;
font-family: Verdana;
font-size:14px;
font-weight:bold;

}

#footer{
	font-weight:bold;
	font-size: 14px;
	text-align: center;
	bottom:0;
	font-family: Verdana;
	width:100%;
	background-color:dodgerblue;
	position:absolute;
}








/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

/* Set a style for all buttons */
button {
  background-color: dodgerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 30%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
















/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
